<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="Email" required autocomplete="off"> <br>
        <input type="password" name="password" id="password" placeholder="Пароль" required autocomplete="off"> <br>
        <input type="password" name="password2" id="password2" placeholder="Повторите пароль" required autocomplete="off"> <br>
        <button>Зарегистрироваться</button>
    </form>

</body>
</html>